{
  "routeDomainMapping": [
    {
      "vrfName": "FOO",
      "rdID": 20,
      "defaultForNonRFC1918": false
    },
    {
      "vrfName": "BAR",
      "rdID": 10,
      "defaultForNonRFC1918": true
    },
    {
      "vrfName": "FOOBAR",
      "rdID": 11,
      "defaultForNonRFC1918": false
    }
  ],
  "outputRegex": [
    {
      "matchRegex": "\/FOO\/",
      "replacementRegex": "/BAR/"
    },
    {
      "matchRegex": "net route-domain FOO ",
      "replacementRegex": "net route-domain BAR "
    },
    {
      "matchRegex": "auth partition FOO ",
      "replacementRegex": "auth partition BAR "
    }
  ],
  "cipherStringMapping": [
    {
      "aviCipher": "ecdhe-rsa-aes256-sha",
      "f5Cipher": "ECDHE-RSA-AES256-SHA384"
    },
    {
      "aviCipher": "ecdhe-rsa-aes128-sha",
      "f5Cipher": "ECDHE-RSA-AES128-SHA256"
    }
  ]
}
